.table-string {
	width: 48px;
	border-bottom: 1px solid #c2c2c2;

	&__title,
  &__create {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color: #2d3436;
	}
  &:hover{
    background-color: #E1F3EA;
  }
}
.table-type {
	display: flex;
	align-items: center;
}
.table-type__circle {
	width: 16px;
	height: 16px;
	margin-right: 16px;
	border-radius: 50%;
}
.table-btn__statys {
	width: 124px;
	height: 32px;
	border-radius: 16px;


	font-family: "Inter";
	font-style: normal;
	font-weight: 800;
	font-size: 12px;
	line-height: 15px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #ffffff;
}

