@mixin createHoverBtn {
	background: #5b9479;
}
@mixin createActiveBtn {
	background: #4f896c;
}

@mixin declineHoverBtn {
	background: #b03671;
}
@mixin declineActiveBtn {
	background: #832552;
}

@mixin canselHoverBtn {
	border-color: #7db59a;
	color: #7db59a;
}
@mixin canselActiveBtn {
	border-color: #4f896c;
	color: #4f896c;
}

.createClaim {
	width: 174px;
	height: 48px;
	background: #7db59a;
	border-radius: 16px;
	padding: 8px 16px 8px 6px;
	border: none;
	cursor: pointer;

	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 32px;
	display: flex;
	color: #ffffff;
	align-items: center;
}

a {
	text-decoration: none;
}

.form-create__btn {
	background: #7db59a;
	border-radius: 16px;
	border: none;
	padding: 6px 10.5px;
	cursor: pointer;
	margin-right: 24px;

	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 0.25px;
	color: #ffffff;

	&:hover {
		@include createHoverBtn;
	}

	&:active {
		@include createActiveBtn;
	}
}

.form-cansel__btn {
	border: 1px solid #adadad;
	border-radius: 16px;
	padding: 12px 10.5px;
	cursor: pointer;
	margin-right: 24px;
	height: 48px;

	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 0.25px;
	color: #858585;

	&:hover {
		@include canselHoverBtn;
	}

	&:active {
		@include canselActiveBtn;
	}
}

.form-decline__btn {
	background: #e84393;
	border-radius: 16px;
	border: none;
	padding: 7.8px 9px;

	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 36px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.25px;
	color: #ffffff;
}

.login-form__btn {
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 36px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px 16px;
	color: #fff;
	height: 52px;

	width: 100%;
	background: #7db59a;
	border-radius: 16px;
	border: none;
}

@media screen and (max-width: 375px) {
	.createClaim {
		width: 48px;
		height: 48px;
	}
}

@media screen and (max-width: 412px) {
	.createClaim {
		width: 48px;
		height: 48px;
	}
}
