.header {
	display: flex;
	justify-content: flex-end;
	max-height: 96px;
	border-bottom: 1px solid #c2c2c2;
	padding: 24px 24px 22px 0px;

	.header-user {
		display: flex;
		justify-content: space-between;
		width: 268px;
		align-items: center;

		&__btn {
			border: none;
			background-color: #fff;
			margin-right: 20px;
			position: relative;

			:hover {
				cursor: pointer;
			}

			.notification {
				position: absolute;
				border-radius: 50%;
				background-color: #e84393;
				width: 9px;
				height: 9px;
				top: 8px;
				right: 9px;
			}
		}

		&__btn:last-child {
			margin-right: 0px;
		}

		&__account {
			display: flex;
			align-items: center;

			& span {
				font-family: "Inter";
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 32px;
			}
		}
		&__account img {
			border-radius: 50%;
			margin-right: 20px;
		}
	}
	.burger-menu {
		display: none;
		width: 24px;
		height: 24px;
		border: none;
		background-color: inherit;
	}
}

@media screen and (max-width: 375px) {
	.header {
		background: #7db59a;
		justify-content: space-between;
		align-items: center;
		padding: 8px 16px;
		.header-user {
			justify-content: flex-end;

			.btn-bell {
				border: none;
				fill: #fff;
				background-color: inherit;
			}
			&__btn:last-child {
				display: none;
			}
			&__account span {
				display: none;
			}
		}
		.burger-menu {
			display: flex;
			width: 24px;
			height: 24px;
			border: none;
			cursor: pointer;
			background-color: inherit;
			z-index: 20;
		}
	}
}

@media screen and (max-width: 412px) {
	.header {
		background: #7db59a;
		justify-content: space-between;
		align-items: center;
		padding: 8px 16px;
		.header-user {
			justify-content: flex-end;
			.btn-bell {
				border: none;
				fill: #fff;
				background-color: inherit;
			}
			&__btn:last-child {
				display: none;
			}
			&__account span {
				display: none;
			}
		}
		.burger-menu {
			display: flex;
			width: 24px;
			height: 24px;
			border: none;
			cursor: pointer;
			background-color: inherit;
			z-index: 20;
		}
	}
}
