.mobile-card {
	// height: 35.98vh;
	width: 91.47vw;
	margin-bottom: 24px;
	&:last-child {
		margin-bottom: 24px;
	}

	.mobile-card__title {
		border-radius: 16px 16px 0px 0px;
		background-color: #7db59a;
		height: 32px;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.card-body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 24px 16px;
		justify-content: space-between;

		height: 208px;
		background: #ffffff;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
		border-radius: 0px 0px 16px 16px;

		&__created,
		&__type,
		&__status {
			display: flex;
			justify-content: space-between;
		}

		&__status div {
			width: 124px;
			height: 32px;
			border-radius: 16px;
			background-color: #e84393;

			font-family: "Inter";
			font-style: normal;
			font-weight: 800;
			font-size: 12px;
			line-height: 15px;
			display: flex;
			align-items: center;
			text-align: center;
			justify-content: center;
			letter-spacing: 2.5px;
			text-transform: uppercase;
			color: #ffffff;
		}
	}
}

.type-block {
	display: flex;
	align-items: center;
}

.link-card {
	border: 1px solid #adadad;
	border-radius: 16px;
  padding: 14px 8px;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
  color: #858585;
	line-height: 36px;
	letter-spacing: 0.25px;
}



@media screen and (max-width: 1280px) {

}
 
@media screen and (max-width: 960px) {

}

@media screen and (max-width: 768px) {
	.mobile-card {
		// height: 50.25vh;
		width: 70vw;
		margin-bottom: 24px;
	}
}

@media screen and (max-width: 412px) {
	.mobile-card {
		// height: 26.25vh;
		width: 91.47vw;
		margin-bottom: 24px;
	}
}

@media screen and (max-width: 375px) {

}