.form {

	&-title {
		width: 30.68vw;
		margin-bottom: 40px;

		&__label {
			font-style: normal;
			font-weight: 800;
			font-size: 12px;
			line-height: 15px;
			align-items: center;
			letter-spacing: 2.5px;
			text-transform: capitalize;
			color: #adadad;

			::placeholder {
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 22px;
				color: #2d3436;
			}
		}

		&__input {
			height: 48px;
			width: 100%;
			background: rgba($color: #c2c2c2, $alpha: 0.24);
			border-radius: 16px;
			border: none;
			outline: none;
			padding: 13px 0px 13px 16px;
			margin-top: 8px;

			display: flex;
			align-items: center;
			font-family: "Inter";
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			color: #2d3436;

			&:focus {
				outline: 4px solid rgba(253, 203, 110, 0.4);
				background: rgba(236, 210, 175, 0.609);
			}
		}
	}

	&-type {
		width: 30.68vw;
		margin-bottom: 40px;
    

		.select > select {
			align-items: center;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			color: #2d3436;
      
		}

		.select {
			position: relative;
      
		}

		.select img {
			content: "";
			position: absolute;
			top: 25%;
			right: 17px;
			pointer-events: none;
		}

		&__label {
			font-style: normal;
			font-weight: 800;
			font-size: 12px;
			line-height: 15px;
			align-items: center;
			letter-spacing: 2.5px;
			text-transform: capitalize;
			color: #adadad;
		}

		&__select {
			height: 48px;
			width: 100%;
			background: rgba($color: #c2c2c2, $alpha: 0.24);
			border-radius: 16px;
			border: none;
			outline: none;
			padding: 13px 17px 13px 16px;
			margin-top: 8px;
			appearance: none;
      &:focus {
				outline: 4px solid rgba(253, 203, 110, 0.4);
				background: rgba(236, 210, 175, 0.609);
			}
		}
	}

	&-description {
		width: 30.68vw;
		margin-bottom: 40px;

		&__label {
			font-style: normal;
			font-weight: 800;
			font-size: 12px;
			line-height: 15px;
			align-items: center;
			letter-spacing: 2.5px;
			text-transform: capitalize;
			color: #adadad;

			::placeholder {
				display: flex;
				align-items: center;
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 22px;
				color: #2d3436;
			}
		}

		&__textarea {
			height: 48px;
			width: 100%;
			background: rgba($color: #c2c2c2, $alpha: 0.24);
			border-radius: 16px;
			border: none;
			outline: none;
			padding: 13px 0px 13px 16px;
			margin-top: 8px;

			// Вводимый текст
			display: flex;
			font-family: "Inter";
			align-items: center;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			color: #2d3436;
			&:focus {
				outline: 4px solid rgba(253, 203, 110, 0.4);
				background: rgba(236, 210, 175, 0.609);
			}
		}
	}
}

@media screen and (max-width: 375px) {
	.form {
		&-title,
		&-type,
		&-description {
			width: 91.48vw;
		}
	}
}

@media screen and (min-width: 412px) {
	.form {
		&-title,
		&-type,
		&-description {
			width: 89.81vw;
		}
	}
}
