@mixin activeNavBtn {
	border-left: 5px solid #fff;
	cursor: pointer;
  margin-bottom: 20px;
}

.navbar {
	display: flex;
	width: 5vw;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(180deg, #d5eee2 0%, #7db59a 43.23%);

	&Logo {
		margin: 32px 0px 47px;
		border: none;
		background-color: inherit;
	}

	&List {
		list-style-type: none;
		margin-bottom: 24px;
	}

	&Item,
	.navbarItem_active {
		width: 100%;
		margin-bottom: 20px;
		background-color: inherit;
		border: none;

		&:hover {
			@include activeNavBtn;
		}

		&:active {
			@extend .navbarItem;
			background-color: inherit;
			border: none;
			@include activeNavBtn;
		}
	}

	a {
		display: flex;
		justify-content: center;
		span {
			display: none;
		}
	}
}

@media screen and (max-width: 375px) {
	.navbar {
		position: fixed;
		top: 65px;
		left: -100%;
		transition: 850ms;

		&Logo {
			display: none;
		}
		a {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			img {
				margin-right: 24px;
			}
			span {
				display: flex;
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: 0.25px;
				color: #ffffff;
			}
		}
	}
	.navbar_active {
		position: fixed;
		top: 65px;
		display: flex;
		flex-direction: column;
		width: 68.27vw;
		padding-left: 16px;
		background: #7db59a;
		left: 0;
		transition: 350ms;
    height: 100vh;

		a {
			display: flex;
			align-items: center;
			justify-content: flex-start;
      margin-bottom: 20px;
			img {
				margin-right: 24px;
			}
			span {
				display: flex;
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: 0.25px;
				color: #ffffff;
			}
		}
	}
}


@media screen and (max-width: 1280px) {

}
 
@media screen and (max-width: 960px) {

}

@media screen and (max-width: 768px) {
	.navbar {
		position: fixed;
		top: 65px;
		left: -100%;
		transition: 850ms;

		&Logo {
			display: none;
		}
		a {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			img {
				margin-right: 24px;
			}
			span {
				display: flex;
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: 0.25px;
				color: #ffffff;
			}
		}
	}
	.navbar_active {
		position: fixed;
		top: 65px;
		display: flex;
		flex-direction: column;
		width: 68.27vw;
		padding-left: 16px;
		background: #7db59a;
		left: 0;
		transition: 350ms;
    height: 100vh;

		a {
			display: flex;
			align-items: center;
			justify-content: flex-start;
      margin-bottom: 20px;
			img {
				margin-right: 24px;
			}
			span {
				display: flex;
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: 0.25px;
				color: #ffffff;
			}
		}
	}
}


@media screen and (max-width: 768px) {
	.navbar {
		position: fixed;
		top: 65px;
		left: -100%;
		transition: 850ms;

		&Logo {
			display: none;
		}
		a {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			img {
				margin-right: 24px;
			}
			span {
				display: flex;
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: 0.25px;
				color: #ffffff;
			}
		}
	}
	.navbar_active {
		position: fixed;
		top: 65px;
		display: flex;
		flex-direction: column;
		width: 40.27vw;
		padding-left: 16px;
		background: #7db59a;
		left: 0;
		transition: 350ms;
    height: 100vh;

		a {
			display: flex;
			align-items: center;
			justify-content: flex-start;
      margin-bottom: 20px;
			img {
				margin-right: 24px;
			}
			span {
				display: flex;
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: 0.25px;
				color: #ffffff;
			}
		}
	}
}


@media screen and (max-width: 412px) {
	.navbar {
		position: fixed;
		top: 65px;
		left: -100%;
		transition: 850ms;

		&Logo {
			display: none;
		}
		a {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			img {
				margin-right: 24px;
			}
			span {
				display: flex;
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: 0.25px;
				color: #ffffff;
			}
		}
	}
	.navbar_active {
		position: fixed;
		top: 65px;
		display: flex;
		flex-direction: column;
		width: 68.27vw;
		padding-left: 16px;
		background: #7db59a;
		left: 0;
		transition: 350ms;
    height: 100vh;

		a {
			display: flex;
			align-items: center;
			justify-content: flex-start;
      margin-bottom: 20px;
			img {
				margin-right: 24px;
			}
			span {
				display: flex;
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: 0.25px;
				color: #ffffff;
			}
		}
	}
}
