.login-page {
	display: flex;

	&__img {
		padding: 90px 130px;
		width: 50vw;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(211, 237, 225, 0.97);
	}
	&__form {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50vw;
		flex-direction: column;
		justify-content: space-evenly;
		padding: 141px 247px;
	}
}

@media screen and (max-width: 375px) {
  .wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
	.login-page {
    flex: 1 0 auto;
		&__img {
			display: none;
		}
		&__form {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100vw;
			flex-direction: column;
			justify-content: space-evenly;
			padding: 48px 16px;

      .form__img img{
        width: 96px;
        height: 93px;
      }
		}
	}
}

@media screen and (max-width: 412px) {
}
